<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CreateEmp</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  



    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/style1.css">
    <link rel="stylesheet" href="../public/css/style3.css">
    <link rel="stylesheet" href="../public/css/style4.css">
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed mt-2">
    <nav class="sb-topnav navbar navbar-expand navbar-dark sb-sidenav-dark" style="background-color: #1C4E80;">

        <a class="navbar-brand" href="index.html">EMPMS</a>

        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>

        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

        </form>

        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="color: white;"><i class="fas fa-user fa-fw"
                        style="color: white;"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" style="">
            <nav class="sb-sidenav accordion sb-sidenav-dark " id="sidenavAccordion" style="background-color: #1C4E80;">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="color: white;">Core</div>
                        <a class="nav-link" href="index.html" style="color: white;">
                            <div class="sb-nav-link-icon" style="color: white;"><i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>





                        <div class="sb-sidenav-menu-heading" style="color: white;">Masters</div>
                        <a class="nav-link collapsed" href="#" style="color: white;" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon" style="color: white;"><i style="color: white;"
                                    class="fas fa-columns"></i></div>
                            Masters
                            <div class="sb-sidenav-collapse-arrow" style="color: white;"><i class="fas fa-angle-down"
                                    style="color: white;"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion" style="color: white;">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="./Createclient.ejs" style="color: white;">Create Employee</a>
                                <!-- <a class="nav-link" href="Create-case.html" style="color: white;">User Master</a>
                                <a class="nav-link" href="#" style="color: white;">Employee Master</a> -->
                            </nav>
                        </div>



                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">

            <div class="container-fluid shadow mt-3">
                <div class="row">
                    <div class="col-md-12">

                        <nav class="navbar mt-2">
                            <div>
                                <h3 class="create_heading">Create Employee</h3>
                            </div>

                        </nav>

                        <div class="container mb-5  mt-5"
                            style="border: 1px #CED4DA solid;  border-radius: 10px; background-color: white; ">

                            <form class="row g-3 mt-4 mb-2" id="emp_form" action="/CreatEmp" method="post">
                                <div class="text col-md-4">
                                    <label for="empname" class="form-label">Employee Name</label>
                                    <input type="text" class="form-control form-control-sm" id="empname" name="empname"
                                        required>
                                    <div id="empnameError" class="invalid-feedback">Please enter employee name</div>
                                </div>



                                <div class="text col-md-4">
                                    <label for="empbranch" class="form-label">Branch Code</label>
                                    <input type="text" class="form-control form-control-sm" id="branch"
                                        name="branchcode">
                                </div>


                                <div class="text col-md-4">
                                    <label for="branchname" class="form-label">Branch Name</label>
                                    <input type="text" class="form-control form-control-sm" id="branchname"
                                        name="branchname">
                                </div>


                                <div class="text col-md-4">
                                    <label for="monum" class="col-form-label">Mobile Number</label>
                                    <input type="number" id="monum" name="monum" class="form-control form-control-sm">
                                </div>

                                <div class="text col-md-4">
                                    <label for="emailid" class="col-form-label">Official Email ID</label>
                                    <input type="text" id="emailid" name="emailid" class="form-control form-control-sm">
                                </div>


                                <div class="text col-md-4">
                                    <label for="subgroup" class="col-form-label">Employee SubGroup Text</label>
                                    <input type="text" id="subgroup" name="subgroup"
                                        class="form-control form-control-sm">
                                </div>

                                <div class="text col-md-4">
                                    <label for="indexnum" class="col-form-label">PF Index Number</label>
                                    <input type="text" id="indexnum" name="indexnum"
                                        class="form-control form-control-sm">
                                </div>

                                <div class="text col-md-4">
                                    <label for="dob" class="col-form-label">Date of Birth</label>
                                    <input type="date" class="form-control form-control-sm" id="dob" name="dob">
                                </div>

                                <div class="text col-md-4">
                                    <label for="sincedate" class="col-form-label">Since Date</label>
                                    <input type="date" class="form-control form-control-sm" id="sincedate"
                                        name="sincedate">
                                </div>

                                <div class="text col-md-4">
                                    <label for="appointdate" class="col-form-label">Date of Appoinment</label>
                                    <input type="date" class="form-control form-control-sm" id="appointdate"
                                        name="appointdate">
                                </div>

                                <div class="text col-md-4">
                                    <label for="egsince" class="col-form-label">EG Since</label>
                                    <input type="date" class="form-control form-control-sm" id="egsince" name="egsince">
                                </div>

                                <div class="text col-md-4">
                                    <label for="esgsince" class="col-form-label">ESG Since</label>
                                    <input type="date" class="form-control form-control-sm" id="esgsince"
                                        name="esgsince">
                                </div>

                                <div class="col-md-4 mt-3">
                                    <button onsubmit="return validateInputs()" type="submit"
                                        class="btn btn-primary">Submit</button>
                                    <button type="button" class="btn btn-primary">Update</button>
                                </div>

                            </form>



                        </div>
                    </div>
                </div>
            </div>


            <!-- form end -->

            <!-- table start -->

            <div class="container-fluid shadow mt-5 mb-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid mb-4 mt-4" style="border-radius: 10px;">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex justify-content-end">
                                        <form class="form-inline my-2 my-lg-0">
                                            <input id="searchInput" class="form-control form-control-sm mr-sm-2"
                                                type="search" placeholder="Search" aria-label="Search">

                                            <!-- Attach an event listener to the search button -->
                                            <a href="#" id="searchBtn" class="btn btn-sm"
                                                style="border: 2px black solid; background-color: #1C4E80;font-family: 'Montserrat', sans-serif; font-weight: bold; color: white;">Search</a>

                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="table-responsive table-sm mt-3 " style="border-radius: 10px;">
                                    <table class="table table-hover table-striped">
                                        <thead class="table">
                                            <tr class="table_tr">
                                                <th scope="col">Sr.No</th>
                                                <th scope="col">Emloyee Id</th>
                                                <th scope="col">Emloyee Name</th>
                                                <th scope="col">Branch Code</th>
                                                <th scope="col">Branch Name</th>
                                                <th scope="col">Employee SubGroup Text</th>
                                                <th scope="col">PF Index Number</th>
                                                <th scope="col">Email Id</th>
                                                <th scope="col">Contact No.</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% users.forEach(function(user, index) { %>
                                                <tr key="<%= index %>" class="table_tr1">
                                                    <td>
                                                        <%= index + 1 %>
                                                    </td>
                                                    <td>
                                                        <%= user.empId %>
                                                    </td>
                                                    <td>
                                                        <%= user.empname %>
                                                    </td>
                                                    <td>
                                                        <%= user.branchcode %>
                                                    </td>
                                                    <td>
                                                        <%= user.branchname %>
                                                    </td>
                                                    <td>
                                                        <%= user.subgroup %>
                                                    </td>
                                                    <td>
                                                        <%= user.indexnum %>
                                                    </td>
                                                    <td>
                                                        <%= user.emailid %>
                                                    </td>
                                                    <td>
                                                        <%= user.monum %>
                                                    </td>
                                                    <!-- Add an onclick event to the edit button in each row -->
                                                    
                                                    <td>
                                                        <a href="#" class="edit-icon" onclick="editRow(this)">
                                                            <i class="fa-solid fa-pen-to-square ml-3"></i>
                                                        </a>
                                                    </td>
                                                    

                                                    <td>
                                                        <a href="#" class="edit-icon" onclick="deleteRow(this)">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; www.Redogroup.in</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>



    </div>
    <script>

        function validateInputs() {
            var empName = document.getElementById("empname").value;
            var branchCode = document.getElementById("branch").value;
            var branchName = document.getElementById("branchname").value;
            var mobileNumber = document.getElementById("monum").value;
            var emailId = document.getElementById("emailid").value;
            var subgroupText = document.getElementById("subgroup").value;
            var pfIndexNumber = document.getElementById("indexnum").value;
            var dob = document.getElementById("dob").value;
            var sinceDate = document.getElementById("sincedate").value;
            var appointDate = document.getElementById("appointdate").value;
            var egSince = document.getElementById("egsince").value;
            var esgSince = document.getElementById("esgsince").value;

            var phoneExp = /^[0-9]{10}$/;
            var isValidEmail = function (emailId) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(emailId).toLowerCase());
            };

            if (empName.trim() === "") {
                alert("Employee Name is required.");
            } else if (branchCode.trim() === "") {
                alert("Branch Code is required.");
            } else if (branchName.trim() === "") {
                alert("Branch Name is required.");
            } else if (mobileNumber.trim() === "") {
                alert("Mobile Number is required.");
            } else if (!phoneExp.test(mobileNumber)) {
                alert("Mobile Number must be 10 digits.");
            } else if (emailId.trim() === "") {
                alert("Official Email ID is required.");
            } else if (!isValidEmail(emailId)) {
                alert("Valid Official Email ID is required.");
            } else if (subgroupText.trim() === "") {
                alert("Employee SubGroup Text is required.");
            } else if (pfIndexNumber.trim() === "") {
                alert("PF Index Number is required.");
            } else if (dob.trim() === "") {
                alert("Date of Birth is required.");
            } else if (sinceDate.trim() === "") {
                alert("Since Date is required.");
            } else if (appointDate.trim() === "") {
                alert("Date of Appointment is required.");
            } else if (egSince.trim() === "") {
                alert("EG Since is required.");
            } else if (esgSince.trim() === "") {
                alert("ESG Since is required.");
            } else {
                alert("Form submitted successfully.");
                document.getElementById("emp_form").reset();
            }
        }

        function deleteRow(button) {
            // Get the row which contains the clicked button
            var row = button.closest('tr');

            // Remove the row from the table
            row.remove();

            // You may want to perform additional actions here, such as sending an AJAX request to delete the row from the server-side database
        }

        var searchInput = document.getElementById('searchInput');
        var searchBtn = document.getElementById('searchBtn');

        // Attach an event listener to the search button
        searchBtn.addEventListener('click', function () {
            // Get the search query
            var searchQuery = searchInput.value.toLowerCase();

            // Get all table rows
            var rows = document.querySelectorAll('tbody tr');

            // Loop through each row and hide those that do not match the search query
            rows.forEach(function (row) {
                var empName = row.cells[2].innerText.toLowerCase();
                var branchCode = row.cells[3].innerText.toLowerCase();
                var branchName = row.cells[4].innerText.toLowerCase();
                var subgroupText = row.cells[5].innerText.toLowerCase();
                var pfIndexNumber = row.cells[6].innerText.toLowerCase();
                var emailId = row.cells[7].innerText.toLowerCase();
                var mobileNumber = row.cells[8].innerText.toLowerCase();

                if (
                    empName.includes(searchQuery) ||
                    branchCode.includes(searchQuery) ||
                    branchName.includes(searchQuery) ||
                    subgroupText.includes(searchQuery) ||
                    pfIndexNumber.includes(searchQuery) ||
                    emailId.includes(searchQuery) ||
                    mobileNumber.includes(searchQuery)
                ) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });

        function editRow(button) {
        // Get the row which contains the clicked button
        var row = button.closest('tr');

        // Extract data from the row
        var empName = row.cells[2].innerText.trim();
        var branchCode = row.cells[3].innerText.trim();
        var branchName = row.cells[4].innerText.trim();
        var subgroupText = row.cells[5].innerText.trim();
        var pfIndexNumber = row.cells[6].innerText.trim();
        var emailId = row.cells[7].innerText.trim();
        var mobileNumber = row.cells[8].innerText.trim();
        var dob = row.cells[9].innerText.trim();
        var sinceDate = row.cells[10].innerText.trim();
        var appointDate = row.cells[11].innerText.trim();
        var egSince = row.cells[12].innerText.trim();
        var esgSince = row.cells[13].innerText.trim();

        // Populate the form fields with the extracted data
        document.getElementById("empname").value = empName;
        document.getElementById("branch").value = branchCode;
        document.getElementById("branchname").value = branchName;
        document.getElementById("monum").value = mobileNumber;
        document.getElementById("emailid").value = emailId;
        document.getElementById("subgroup").value = subgroupText;
        document.getElementById("indexnum").value = pfIndexNumber;
        document.getElementById("dob").value = dob;
        document.getElementById("sincedate").value = sinceDate;
        document.getElementById("appointdate").value = appointDate;
        document.getElementById("egsince").value = egSince;
        document.getElementById("esgsince").value = esgSince;
        document.getElementById("emp_form").style.display = "block";
        
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>


</body>

</html>